{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.humbleui/types$clojure {:mvn/version "0.2.0"}
        io.github.humbleui/jwm {:mvn/version "0.4.18" :exclusions [io.github.humbleui/types]}
        io.github.humbleui/skija-linux-x64 {:mvn/version "0.116.2" :exclusions [io.github.humbleui/types]}
        grain-network/core {:local/root "../core"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]}}}
