{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.nrepl {:mvn/version "0.2.13"}
        clj-time {:mvn/version "0.15.2"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]}
           :native {:extra-deps {org.clojure/tools.native {:mvn/version "0.1.0"}}}}}
