{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        clojure.java-time/java-time {:mvn/version "1.2.0"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                             cider/cider-nrepl {:mvn/version "0.45.0"}}}
          :test {:extra-paths ["test"]
                 :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
          :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "d47c0a83"}}
                  :paths ["target" "classes" "resources"]}
          :uberjar {:replace-deps {org.clojure/clojure {:mvn/version "1.11.1"}}
                    :replace-paths ["target/uberjar"]}}
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}}